#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.header {
  background-color: #BB86FC;
  
  padding: 10px;
  margin-bottom: 5em;
}

.card {
  display: flex;
  justify-content: center;
  width: 80px;
  height: 40px;
  background-color: #BB86FC;
  color: rgb(54, 52, 52);
  border-radius: 10px;
  padding: 2em;
  text-decoration: none;
}

.card h2 {
  margin: 0;

}

.org {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  margin-left: 20px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


